.footer-container{
    margin-top: 15%;
}
.container{
    margin: 20px 50px;
}
.cover img{
   border-radius: 25px;
   height: 250px;
   
}
.desktop{
    display: block;
}


@media screen and (max-width: 768px){

    .container{
        margin: 20px 10px;
    }
    .cover img{
        height: 250px;
    }
    .Mobile{
        display: block;
    }
    
    .about-block{
        margin: 0 30px;
    }

  
}