.nav-header {
    margin: 10px;
    font-size: 0.8em;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
}
a {
    color: #ff0000;
    text-decoration: none;
}

.nav-header_link-home:hover, .nav-header_link-about:hover, .nav-header_link-home:focus, .nav-header_link-about:focus {
    text-decoration-line: underline;
}